.gradle/
build/
*.class
*.log
*.jar
!**/gradle/wrapper/gradle-wrapper.jar
bin/
out/

__pycache__/
*.py[cod]
*.egg-info/
.venv/
venv/
env/
.mypy_cache/
.pytest_cache/
.ruff_cache/

.idea/
*.iml
.vscode/

.DS_Store

results/*.csv
